stages:
  - infra
  - build
  - deploy

# stage 1: terraform (reads state from S3, applies if changes)

terraform:
  stage: infra
  image:
    name: hashicorp/terraform:latest
    entrypoint: [""]
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
    AWS_DEFAULT_REGION: us-east-1
  before_script:
    - cd terraform && terraform init
  script:
    - terraform plan
    - terraform apply -auto-approve

# stage 2: build docker image

build:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - docker build -t omarahorrar/devops-pipeline-eks:latest ./app
    - docker push omarahorrar/devops-pipeline-eks:latest

# stage 3: deploy to EKS

deploy:
  stage: deploy
  image: python:3.11
  before_script:
    - pip install awscli -q
    - curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
    - chmod +x kubectl && mv kubectl /usr/local/bin/
    - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
    - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
    - aws configure set region us-east-1
    - aws eks update-kubeconfig --name express-cluster --region us-east-1
  script:
    - kubectl apply -f k8s/
    - kubectl rollout restart deployment/express-deployment